.dashboard {
    background-color: grey;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &-main {
        background-color: #ffff;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        text-align: center;
        
        display: flex;
        flex-direction: column;

        &-body {
            height: 90%;
            border-bottom: 1px dashed gray;
            border-top: 1px dashed gray;
            overflow-y: scroll;

            .element {
                min-height: 40px;
                border: 1px solid gray;
                margin: 5px;
                border-radius: 5px;
                transition: all 1s;
                opacity: 0.5;

                &-active {
                    background: rgb(238, 238, 238);
                    opacity: 1;
                }

                &-wraper {
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid gainsboro;
                }
            }
        }

    }
}


