.main {

    * {
        box-sizing: border-box;
    }

    max-width: 90%;
    // min-width: 640px;
    margin: auto;
    margin-top: 20px;
    height: 700px;
    display: flex;
    flex-direction: row;

    

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

}