.menu {
  flex: 1;
  max-width: 530px;

  &-main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    
    display: flex;
    flex-direction: column;

    &-navbar {
      // height: 35px;

      ul {
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.541);
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
          white-space: nowrap;
          flex: 1;
          text-align: center;
          padding: 5px 10px;
          cursor: pointer;
          color: rgb(6, 88, 155);
          font-weight: 900;
        }
      }

      .bar-active {
        background-color: $CUSTOM_LIGHTBLUE;
        color: #ffffff;
      }
    }

    &-body {
      // min-height: 265px;
      
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .element {
        user-select: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 12px;
        border: 1px solid rgba(128, 128, 128, 0.493);
        width: 80px;
        height: 60px;
        margin: 10px 13px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 2px 20px 0 rgba(0, 0, 0, 0.19);

        &:hover {
          border: 1px solid lightblue;
          color: $CUSTOM_LIGHTBLUE;
        }
      }

      .settings {
        width: 100%;
        padding: 10px;

        .image {
          input[type="file"] {
            display: none;
          }

          &-preview {
            display: flex;
            border: 1px solid gainsboro;
            justify-content: center;
            align-items: center;
            width: fit-content;

            .icon-wrapper {
              width: 130px;
              height: 80px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &-source {
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 10px 0;

            label {
              margin-right: 5px;
              font-size: 14px;
            }

            input {
              color: inherit;
              border: none;
              border-bottom: 1px solid #ddd;
              outline: none;
              text-align: left;
              line-height: 1em;
              font-size: 14px;
              padding: 5px;
              width: 240px;
            }
          }

          .custom-file-upload {
            cursor: pointer;
            color: #81d8f2;
            margin: 0 6px;
            font-size: 12px;
          }
        }

        .slider {
          .image-uploader {
            display: flex;
            flex-direction: column;

            input[type="file"] {
              display: none;
            }

            .custom-file-upload,
            .image-remove {
              cursor: pointer;
              color: #81d8f2;
              margin: 0 6px;
              font-size: 12px;
            }
          }

          .slider-images {
            display: flex;
            flex-flow: wrap;

            .image-uploader {
              margin: 0 5px;
            }
          }
        }

        h3 {
          margin-top: 5px;
          color: black;
          text-transform: uppercase;
        }
        .textSettings {
          // height: 100%;
          width: 100%;
          .textEditor {
            width: 100%;
            min-height: 200px;
            height: fit-content;
          }
        }

        .videoSettings,
        .audioSettings {
          color: rgb(87, 86, 86);
          font-size: 14px;

          &-provider {
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 10px 0;

            label {
              margin-right: 5px;
            }
            .select-box {
              color: inherit;
              cursor: pointer;
              outline: none;
              background: transparent;
              padding: 2px;
              font-size: 14px;
              line-height: 1em;
              border: none;
              text-align: left;
              line-height: 1em;
              width: 180px;
              height: 25px;
              overflow: hidden;
              background-color: #fff;
              border-bottom: 1px solid #ddd;
              // border-radius: 0;
              // padding-right: 0;
              // -webkit-appearance: none;
              // vertical-align: top !important;
              // border-radius: 3px 5px 5px 3px;
              option {
                &:hover {
                  background-color: seashell;
                }
              }
            }
          }

          &-source {
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 10px 0;

            label {
              margin-right: 18px;
            }

            input {
              color: inherit;
              border: none;
              border-bottom: 1px solid #ddd;
              outline: none;
              text-align: left;
              line-height: 1em;
              font-size: 14px;
              padding: 5px;
              width: 240px;
            }
          }

          &-format {
            margin: 15px 0;
            color: inherit;
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              input[type="checkbox" i] {
                margin: 0 0 0 10px;
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}
